# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build and output directories
dist/
build/
out/

# Ignore user-specific files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.code-workspace

# Ignore macOS specific files
.DS_Store

# Ignore any other files or directories you want to exclude
